body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    background-color: green;
    font-size: 20px;
    
}
.header img{
    width: 300px;
    height: 250px;
}
.nav{
    text-align: center;

}