.linha{
  width: 960px;
  padding: 10px 20px;
  margin: 10px;
}
nav{
  list-style: none;
  float: left;
}
nav li{
  position: relative;
  float: left;
}
nav li a{
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
}

