body{
    border: solid black;
    
}
header{
    width: 955px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 10px;
    margin: 10px 10px;
    border: solid;
    
}
nav{
  list-style: none;
  float: left;
}
nav li{
  position: relative;
  float: left;
  border-right: 1px solid black;
  border-top: 1px solid black;
}
nav li a{
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
}

